.secondaryButton {
  margin: 0 0 0 2em;
  padding: 15px 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--input-focus-color);
  background: var(--input-color);
  color: var(--text-secondary-color);
  height: 60px;
  width: 50px;
}

.secondaryButton:hover {
  background: var(--input-focus-color);
}

.secondaryButton:disabled {
  border: 1px solid var(--input-focus-color);
  background: var(--input-color);
  color: var(--input-focus-color);
}