.suggestion-box-container {
  position: relative;
  margin-bottom: var(--spacing-md);
}

.input {
  width: 100%;
  padding: var(--spacing-md);
  border: 1px solid var(--input-color);
  background: var(--input-color);
  color: var(--text-primary-color);
  border-radius: 4px;
  font-size: 1rem;
}

.input:focus {
  border-color: var(--input-focus-color);
  outline: none;
}

.suggestions-list {
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  z-index: 1;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #eee;
}
