.nav {
    background: var(--primary-color);
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    padding: 0 1rem;
    gap: 2rem;
}

.nav-link {
    color: var(--highlight-hover-color-dark);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--highlight-hover-color);
}

.nav-link.active {
    color: var(--highlight-active-color);
}

.bars {
    display: none;
    color: #808080;
}

@media screen and (max-width: 768px) {
    .bars {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 75%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav-menu {
        display: none;
    }
}

.nav-menu {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}


.nav-btn {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.nav-btn-link {
    border-radius: 4px;
    background: #808080;
    padding: 10px 22px;
}