// Zmienne kolorów
$light-bg: #ffffff;
$light-color: #212529;
$light-input-color: #eeeeee;
$light-input-focus-color: #dddddd;
$light-header-color: #222831;

$dark-bg: #212529;
$dark-color: #ffffff;

$high-contrast-bg: #000000;
$high-contrast-color: #ffffff;
$high-contrast-link: #ffff00;

$button-primary-color: #00adb5;
$button-primary-hover-color: #33c6cb;

$text-primary-color: #222831;
$text-primary-hover-color: #758694;

$text-link-color: #eeeeee;
$text-link-hover-color: #dddddd;

$text-secondary-color: #cccccc;

$text-on-dark-color: #ffffff;
$text-on-dark-color-hover-color: #cccccc;
$text-on-dark-color-active: #aaaaaa;

// Zmienne spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 40px;
$spacing-xxxl: 50px;